.admin-modal-container {
    padding-top: calc(40vh - 50px);
    width: 80%;
    margin: auto;
}

.admin-modal {
    display: inline-block;
    width: calc(calc(80% - 30px) / 3);
    margin-left: 15px;
}

.admin-modal:nth-child(0) {
    margin-left: 0px;
}

.admin-modal button {
    width: 80%;
}

h2 {
    padding-top: 50px;
    letter-spacing: 0.15em;
    color: grey;
}

